// Grid Mixin
// ========================================

// Grid Settings
  $grid-columns: 12;

// Media Queries

  // Variables
  $mobile-size:em(320);
  $tablet-size:em(720);
  $tablet-landscape:em(1024);
  $desktop-size:em(1200);

  // Bourbon Neat Breakpoints
  $mobile: new-breakpoint(min-width $mobile-size 4);
  $tablet: new-breakpoint(min-width $tablet-size 9);
  $tablet-landscape: new-breakpoint(min-width $tablet-landscape orientation landscape 9);
  $desktop: new-breakpoint(min-width $desktop-size 12);


  // Omega Reset
  @mixin omega-reset($nth) {
    &:nth-child(#{$nth}) { margin-right: flex-gutter(); }
    &:nth-child(#{$nth}+1) { clear: none }
  }