// Misc. Stylesheet
// ========================================


// Background Image
@mixin background-size($size){
  -webkit-background-size: $size;
  -moz-background-size:    $size;
  -o-background-size:      $size;
  background-size:         $size;
}


// Box Shadow
@mixin box-shadow($dim: 0 0 0 0, $color: $black-base){
  -webkit-box-shadow: $dim $color;
  -moz-box-shadow:    $dim $color;
  -o-box-shadow:      $dim $color;
  box-shadow:         $dim $color;
}


// Center
@mixin center($horizontal: true, $vertical: true) {
  position: absolute;
  @if ($horizontal and $vertical) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } @else if ($horizontal) {
    left: 50%;
    transform: translate(-50%, 0);
  } @else if ($vertical) {
    top: 50%;
    transform: translate(0, -50%);
  }
}