// Typography Variables
// ========================================

  // Font Families
  @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

  $primary-sans-serif: "Roboto", "Helvetica", sans-serif;

  // Sizes
  $font-size-base: 14px;

  $s-giga:    75px;
  $s-mega:    50px;

  $s-alpha:   30px;
  $s-bravo:   28px;
  $s-charlie: 22px;
  $s-delta:   18px;
  $s-echo:    15px;
  $s-foxtrot: $font-size-base;
  $s-golf:    13px;
  $s-hotel:   11px;

  // Line Heights
  $base-line-height: $font-size-base * 1.5;
  $base-line-small:  $font-size-base;

  // Text Alignment
  $text-align-center:  center;
  $text-align-left:    left;
  $text-align-justify: justify;
  $text-align-right:   right;

  // Text Alignment List
  $text-alignments: (
    center    $text-align-center,
    left      $text-align-left,
    justify   $text-align-justify,
    right     $text-align-right
  );

  // Type Colors Map
  $type-colors: (
    'blue': (
      $blue-base
    ),
    'green': (
      $green-base
    ),
    'grey': (
      $grey-dark
    ),
    'grey-base': (
      $grey-base
    ),
    'grey-alt': (
      $grey-alt
    ),
    'red': (
      $red-base
    ),
    'white': (
      $white-base
    )
  );